body {
    margin:0px;
    padding:0px;
    background: linear-gradient(#fff, #7ac5F4);
    font-family: Verdana, Tahoma, Geneva;
    font-size:90%;
}

#form {
    margin:10px;
    width:70%;
}

#form h1, #form h3 {
    text-shadow: 4px 1px 4px rgba(150, 150, 150, 1);
    text-align:center;
}

#form #customer, #literature {
    border-radius:15px;
    box-shadow:7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    margin-bottom: 10px;
}

#form legend.legenda {
    font-weight:bold;
}

#form #button {
    font-family: Verdana, Tahoma, Geneva;
    box-shadow:7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    border-radius:5px;
}

#form #button:hover {
    cursor:pointer;
    color:red;
}