* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    font-family: 'Lato', sans-serif;
}

#header {
    position:relative;
    background-image: url('../img/header-background.jpg');
    background-size: cover;
    height:600px;
    color:white;
    
}

#header div.naglowki {
    position:absolute;
    font-family: 'Roboto', sans-serif; 
    margin-left: auto;
    margin-right: auto;
    top:250px;
    width:50%;
    left:0px;
    right:0px;
}


#header div.naglowki h1 {
    font-size:120px;
    font-weight:100;
}

#header div.naglowki h3 {
    margin-left:150px;
    font-size:40px;
    font-weight: 100;
}

div.naglowki #nazwisko {
    color:#1ac056;
    font-weight:400;
}

#header #menu #menu-poziome {
    position:absolute;
    top:25px;
    right:0px;
    position: fixed;
    
}

#header #menu-poziome li.item {
    display:inline-block;
    margin-right: 20px;
}

#header #menu-poziome li.item a {
    text-decoration: none;
    color:white;
}

.sekcja {
    height:400px;
    color:#291f1a;
}

section.sekcja.o-mnie {
    position:relative;
   
}

section.sekcja.o-mnie img {
    position:absolute;
    width:20%;
    left:15%;
}

section.sekcja.o-mnie p {
    margin:30px;
    margin-left:50%;
}

section.sekcja.o-mnie h2, section.sekcja.umiejetnosci h2, section.sekcja.portfolio h2 {
    
    font-size:30px;
    text-align: center;
    margin:50px;
    font-weight: 100;
}

span.nagloweczek {
    color:#1ac056;
    font-weight: bold;
}

section.sekcja.umiejetnosci p {
    text-align: center;
}

section.sekcja.umiejetnosci {
    position:relative;
   
}

section.sekcja.umiejetnosci div.ikona {
    display: inline-block;
    margin-right:70px;
    
}

section.sekcja.umiejetnosci div.ikony {
    text-align: center;
    margin-top:50px;
} 

section.sekcja.umiejetnosci div.ikona img {
    margin-bottom: 20px;
}
