* {
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}

body {
    font-family: 'Lato', sans-serif;
}

#header {
    background-image: url('../img/header-background.jpg');
    background-size: cover;
    background-position: center;
    height:600px;
    color:white;
    
}

#header div.naglowki {
 text-align:center;
 padding-top: 200px;
 font-family: 'Roboto', sans-serif;
}


#header div.naglowki h1 {
    font-size:120px;
    font-weight:100;
}

#header div.naglowki h3 {
    font-size:40px;
    font-weight: 100;
}

div.naglowki #nazwisko {
    color:#1ac056;
    font-weight:400;
}

#header #menu #menu-poziome {
    position: fixed;
    background-color: white;
    width: 100%;
    height:40px;
    padding-top:8px;
    padding-left: 800px;
}

#header #menu-poziome li.item {
    display:inline-block;
    margin-right: 40px;
}

#header #menu-poziome li.item a {
    text-decoration: none;
    color:#1ac056;
}

#header #menu-poziome li.item a:hover {
    color:#291f1a;
}


.sekcja {
    padding:0px 80px 100px;
    width:100%;
    color:#291f1a;
    background-color: #f9fcfe;
    height:500px;
}


section.sekcja.o-mnie article {
    width:50%;
    float:left;
   
}

section.sekcja.o-mnie figure img {
    height:350px;
    border:15px solid white;
    border-radius: 14px 14px 14px 14px;
}

section.sekcja.o-mnie figure {
    margin:0px;
    width:50%;
    float:left;  
    text-align: center;
}



section.sekcja.o-mnie h2, section.sekcja.umiejetnosci h2, section.sekcja.portfolio h2 {
    
    font-size:30px;
    text-align: center;
    margin-top:60px;
    margin-bottom: 35px;
    font-weight: 300;
}

hr {
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
    width:100%;
}
   

span.nagloweczek {
    color:#1ac056;
    font-weight: bold;
}

section.sekcja.umiejetnosci p {
    text-align: center;
}

section.sekcja.umiejetnosci {
    position:relative;
   
}

section.sekcja.umiejetnosci div.ikona {
    display: inline-block;
    margin-right:70px;
    
}

section.sekcja.umiejetnosci div.ikony {
    text-align: center;
    margin-top:50px;
} 

section.sekcja.umiejetnosci div.ikona img {
    margin-bottom: 20px;
}

div.zdjecia div.kontener {
    width:33,3333%;
    display:inline-block;
    height:350px;
}

div.kontener.portfolio1 {
    background-image: url('../img/portfolio1.jpg')
} 

div.kontener.portfolio2 {
    background-image: url('../img/portfolio2.jpg')
} 

div.kontener.portfolio3 {
    background-image: url('../img/portfolio4.jpg')
}


footer {
    background-color:  #213b50;
    height: 400px;
    position:relative;
}

footer div.kolumna {
    width:50%;
    display: inline-block;
    height:100%;
}

footer div.kolumna.prawa {
    position:absolute;
    left:50%;
}

div.kolumna.prawa input:not(.button), div.kolumna.prawa textarea {
    margin:20px;
    width:95%;
    background-color: #446f91;;
}

div.kolumna.prawa input.button {
    
}