* {
    margin: 0px;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: currentColor;

}

.item {
    
    position: absolute;
    height: 200px;
    width: 100%;
    color: white;
    font-size: 150px;
    line-height: 200px;
    visibility: hidden;
    animation-name: odliczanie;
    animation-duration: 1s;
    text-align: center;
/*
    margin-right: auto;
    margin-left: auto;
*/
    
}

.text {
    position: absolute;
    height: 200px;
    width: 200px;
    color: white;
    text-align: center;
    line-height: 200px;
    animation-delay: 10s;
    animation-duration: 1s;
    font-size: 20px;
}


@keyframes odliczanie {
    0% {
        visibility: visible;
    }
    99%, 100% {
        visibility: hidden;
    }
}

.number1 {
    animation-delay: 0s;
}


.number2 {
    animation-delay: 1s;
}

.number3 {
    animation-delay: 2s;
}

.number4 {
    animation-delay: 3s;
}

.number5 {
    animation-delay: 4s;
}

.number6 {
    animation-delay: 5s;
}

.number7 {
    animation-delay: 6s;
}

.number8 {
    animation-delay: 7s;
}

.number9 {
    animation-delay: 8s;
}

.number10 {
    animation-delay: 9s;
}



