#gallery {
    width:100%;
    font-size:0px;
}
figure, header {
    font-size:16px;
}

@media (min-width:992px) { 
    figure { width:33%; } } 

@media (min-width:768px) and (max-width:992px) { 
    figure {  width:50% } }


@media (min-width:480px) and (max-width:768px) { 
    figure {  width:90% } }

@media (max-width:480px) { 
    figure {  width:100%; } } 
