* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

figure {
    margin: 20px;
    position: relative;
    height: 368px;
    width: 666px;
    overflow: hidden;
}

img {
    position: absolute;
    top: 8px;
    left: 8px;
}


#border-top {
    width: 666px;
    height: 3px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: height 5s ease;
    opacity: 0;
}


#border-bottom {
    width: 666px;
    height: 3px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: height 5s ease;
    position: absolute;
    bottom: 0px;
    opacity: 0;
}


figure:hover #border-top {
    height: 184px;
    opacity: 1;
}

figure:hover #border-bottom {
    height: 184px;
    opacity: 1;
}

.img-caption p {
    position: absolute;
    z-index: 100;
    font-size: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-transform: uppercase;
    background-color: black;
    opacity: 0;
    width: 650px;
    left: 8px;
    text-align: center;
    transition: all 5s ease;
}

figure:hover .img-caption p {
    font-size: 100px;
    opacity: 0.7;
}
