* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

figure {
    margin:20px;
    position:relative;
    height: 368px;
    overflow:hidden;
}

img {
    position: absolute;
    top: 8px;
    left: 8px;
}


#border-top {
    width:666px;
    height:3px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: height 5s ease;
}

#border-bottom {
    width:666px;
    height:180px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    position: absolute;
    top: 185px;
    transform: translateY(100%);
    transition: transform 5s ease;
}


figure:hover #border-top {
   height:188px;
}

figure:hover #border-bottom {
    transform: translateY(0%);
}

.img-caption p {
    position: absolute;
    z-index: 100;
    font-size: 50px;
    top:50%;
    transform: translateY(-50%);
    color: white;
    text-transform: uppercase;
    background-color: black;
    opacity: 0;   
    width: 650px;
    left: 8px;
    text-align: center;
    transition: all 5s ease;
}

figure:hover .img-caption p {
    font-size: 100px;
    opacity: 0.7;
}
