* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

figure {
    margin:20px;
    position:relative;
    height: 368px;
/*    overflow:hidden;*/
}

img {
    position: absolute;
    top: 8px;
    left: 8px;
}


#border-top {
    width:666px;
    height:3px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: height 5s ease;
}

#border-bottom {
    width:666px;
    height:180px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    position: absolute;
    top: 185px;
    
    
}

figure:hover #border-top {
   height:188px;
}

figure:hover #border-bottom {
    
}

p {
    position: absolute;
    z-index: 100;
    font-size: 50px;
    top:50%;
    transform: translateY(-50%);
    color: white;
    text-transform: uppercase;
    background-color: black;
    opacity: 0.5;
    
    
    
}





/*
div#border-top, div#border-bottom {
    height:50%;
}

div#border-bottom {
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    opacity:0;
    transition: height 6s ease 1s;
}

div#border-top {
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    opacity:0;
    transition: height 6s ease 1s;
}

img {
    position:absolute;
    top:8px;
    left:8px;
}

figure div#border-top:hover, figure div#border-bottom:hover {
    opacity:1;
   
    
}*/
