

//Fonts
$Monserrat: 'Montserrat', sans-serif;
$Roboto: 'Roboto Slab', serif;

//Colors
$w-color: white;
$bk-color: black;
$b-color: #0ed8d6;
$g-color: #333333;
$lg-color: #777777;

//Paddings
$paddingSections:150px 100px 100px 100px;
