* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container {
    width:100%;
    height:auto;
    overflow: hidden;
    position:relative;
}

.column-1-4 {
    height:100vh;
    width:25%;
    transition:all 0.5s linear;
    display:inline-block;
    float:left;
}

.background {
    height:100%;
    width:120%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.column-1-4:hover {
    width:40%;
}

.container:hover .column-1-4:not(:hover){
    width:20%;
}

.column-1-4:last-child {
    position:absolute;
    right:0;
}


#background-1 {
    background-image:url(../foto_krajobraz.jpg)
}

#background-2 {
     background-color:url(../fototapeta-krajobrazy-04201.jpg);
}

#background-3 {
     background-color: url(../foto_krajobraz.jpg);
}

#background-4 {
     background-color: url(../fototapeta-krajobrazy-04201.jpg);
}