* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body, html {
  
    background-color: #98fb98;
    height: 100vh;
}

#contener {
    width: 100vw;
    font-size: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 400px;
}


#contener > div {
    display: inline-block; 
}


div.product {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 25%;
    height: 400px;
/*    padding: 0 2%;*/
}


div.product.one {
    background-image: url(../product-1.jpg);
}

div.product.two {
    background-image: url(../product-2.jpg);
   
}

div.product.three {
    background-image: url(../product-3.jpg);
   
}

div.product.four {
    background-image: url(../product-4.jpg);
   
}


.mask {
    height: inherit;
    background-color: rgba(255, 111, 0, 0.5);
    opacity: 0;
    position:relative;
    transition: opacity 1s ease 0s;
    text-align: center;
    
}

.mask i {
    font-size: 100px;
    position: absolute;
    top: 50%;
/*    transform: translateY(-50%);*/
    transform: translateX(-50%);
    color: white;
    
}

.mask:hover {
    opacity:1;
    
}