@media (min-width:1170px) { 
    #header-content { 
        background-image: url('../zadanie-domowe-rwd-materialy/obrazy/man-1.jpg');
        height:100vh;
         }
    
    #header-content h1 {
        top:50vh;
        margin-left: 3vw;
    }
} 

@media (min-width:992px) and (max-width:1170px) { 
    #header-content {  
        background-image: url('../zadanie-domowe-rwd-materialy/obrazy/man-2.jpg');
        height:70vh;
    } 
    
    #header-content h1 {
        margin-left:60vw;
        top:5vh;
    }
}   

@media (max-width:992px) { 
    #header-content { 
        background-image: url('../zadanie-domowe-rwd-materialy/obrazy/man-1.jpg');
        height:50vh;
      } 
    
    #header-content h1 {
        top:110%;
        text-align:center;
        color:black;
        width:100vw;
        margin-left:auto;
        margin-right: auto;
    }
}